// 普通16进制颜色 ---‘sc-’+前（1/2/3）位
$sc-ff:#fff;
$sc-33:#333;
$sc-66:#666;
$sc-44:#444;
$sc-bb:#bbb;
// rgb ---‘sc-r’
$sc-r13: rgb(13, 172, 235);

// rgba ---‘sc-ra’
$sc-ra13: rgba(13, 172, 235,.7);
$sc-ra67: rgba(67, 73, 75, 0.8);
$sc-ra80: rgba(80, 80, 80, 0.9);
$sc-ra77: rgba(77, 158, 81,.7);
$sc-ra255:rgba(255,255,255,0);