@mixin co-flexcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin co-omit {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

@mixin co-po-trans{
  position: absolute;
  top: 50%;;
  left: 50%;
  transform: translate(-50%,-50%);
}