/*清除浮动*/
.cc-clearfix:before,
.cc-clearfix:after{
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cc-clearfix{
  *zoom: 1;
}

/* 隐藏节点 */
.cc-dn{
  display: none;
}

/* 溢出显示省略号 */
.cc-omit{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 定位移动居中（自身相对父元素） */
.cc-ptc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 内部元素居中（flex） */
.cc-fcc{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 隐藏滚动条 */
.cc-over-scroll{
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  
}
.cc-over-scroll::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.cc-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}